.search {
    margin-bottom: 3em;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.form input[type="text"] {
    border: 1px solid #ccc;
    border-width: 1px 0 1px 1px;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 0.5em 1em;
    width: 30%;
}

.form input[type="button"] {
    background-color: #3E84F6;
    color: #fff;
    font-weight: 700;
    padding: 0 1em;
    border-radius: 0 5px 5px 0;
}

.result .title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: 0.5em;
}

.result .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1em;
    margin-bottom: 1em;
}

.result .top .text {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .03em;
}

.result .list {
    width: 50%;
    margin: 0 auto;
}

.result .list table {
    width: 100%;
}

.result .list table th,
.result .list table td {
    border: 1px solid #E0E0E0;
    padding: 1em;
    letter-spacing: .05em;
}

.result .list table th {
    white-space: nowrap;
    background: #FAFAFA;
}